.ado-rtl-fixer {
  direction: rtl !important;
  text-align: right !important;
  unicode-bidi: isolate !important;
}

input.ado-rtl-fixer,
textarea.ado-rtl-fixer,
[contenteditable="true"].ado-rtl-fixer,
[role="textbox"].ado-rtl-fixer {
  direction: rtl !important;
  text-align: right !important;
  unicode-bidi: isolate !important;
}
